body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a; /* Cinza quase preto */
    color: #ffffff; /* Texto em branco */
}

#timer {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: red; /* Texto do temporizador em branco */
}

#game-container {
    background: none !important; /* Remove fundo cinza */
    border: none !important; /* Remove borda */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-image {
    width: 60%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
}


h2 {
    background: none;
    border: none;
}
h1, p {
    color: #ffffff; /* Texto do título e parágrafo em branco */
}

#admin-controls {
    position: absolute;
    top: 10px;
    right: 10px;
}

#admin-login, #admin-logout {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #ff9800;
    color: white;
    border-radius: 5px;
}

#admin-login:hover, #admin-logout:hover {
    background-color: #e68900;
}
