body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a; /* Cinza quase preto */
    color: #ffffff; /* Texto em branco */
}

#timer {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff; /* Texto do temporizador em branco */
}

#game-container {
    position: relative;
    display: inline-block;
    max-width: 90%;
    background-color: #333333; /* Fundo do contêiner do jogo em cinza escuro */
    padding: 10px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra mais escura */
}

#game-image {
    width: 50%; /* Reduzindo para metade do tamanho original */
    max-width: 500px; /* Antes era 1000px, agora metade */
    cursor: pointer;
    border: 2px solid #555555; /* Borda em cinza médio */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra mais escura */
}

h1, p {
    color: #ffffff; /* Texto do título e parágrafo em branco */
	
}#admin-controls {
    position: absolute;
    top: 10px;
    right: 10px;
}

#admin-login, #admin-logout {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #ff9800;
    color: white;
    border-radius: 5px;
}

#admin-login:hover, #admin-logout:hover {
    background-color: #e68900;
}
